<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true" monitorInterval="30" debug="false">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="TEST_LOG" fileName="${log-path}/test.log" filePattern="${log-path}/test-%d{yyyy-MM-dd}.log" append="false">
            <PatternLayout pattern="[%p] %d [%t] %x %c - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.log4j.xml" level="debug">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="eu.com.cwsfe.websockets" level="INFO" additivity="false">
            <appender-ref ref="TEST_LOG"/>
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="TEST_LOG"/>
        </Root>
    </Loggers>
</Configuration>